.form-horizontal
  .control-group
    = f.label :first_name, "Your First Name", class:"control-label"
    .controls
      = f.text_field :firt_name
  .control-group
    = f.label :last_name, "Your Last Name", class:"control-label"
    .controls
      = f.text_field :last_name
  .control-group
    = f.label :favorite_blog, "Your Favorite Blog", class:"control-label"
    .controls
      = f.text_field :favorite_blog 





